<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Azure.*" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Microsoft.Azure.*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.Identity.*" />
      <package pattern="Microsoft.Maui.*" />
      <package pattern="Microsoft.NET.*" />
      <package pattern="Microsoft.NETCore.App.*" />
      <package pattern="Microsoft.Windows.SDK.BuildTools.MSIX" />
      <package pattern="Microsoft.WindowsAppSDK.AI" />
      <package pattern="Microsoft.WindowsAppSDK.Base" />
      <package pattern="Microsoft.WindowsAppSDK.DWrite" />
      <package pattern="Microsoft.WindowsAppSDK.Foundation" />
      <package pattern="Microsoft.WindowsAppSDK.InteractiveExperiences" />
      <package pattern="Microsoft.WindowsAppSDK.ML" />
      <package pattern="Microsoft.WindowsAppSDK.Runtime" />
      <package pattern="Microsoft.WindowsAppSDK.Widgets" />
      <package pattern="Microsoft.WindowsAppSDK.WinUI" />
      <package pattern="Microsoft.WindowsDesktop.App.*" />
      <package pattern="Syncfusion.*" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
